html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: gainsboro;
  text-align: center;
}

header,
section,
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section,
footer {
  padding: 10rem 5rem;
}

h1 {
  font-size: 10vw;
  margin-bottom: 0.5em;
}

h2 {
  margin-top: 0;
  font-size: 10vw;
}

h3 {
  margin-bottom: 0.5em;
  font-size: 5vw;
}

p {
  font-size: 2.5vw;
}

a {
  color: black;
  text-decoration: none;
  letter-spacing: 1vw;
}

a:hover {
  font-style: italic;
  text-shadow: 0.1em 0.1em gainsboro;
}

footer {
  background-color: black;
}
