.scroll {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  margin: 1vw;
  font-size: 5vw;
  letter-spacing: .25vw;
}
.scroll:hover {
  letter-spacing: .75vw;
}
/* .internal {
  display: inline-block;
  text-decoration: none;
}
.internalTitle {
  font-size: 5vw;
  letter-spacing: 1vw;
}
.internalTitle:hover {
  letter-spacing: 2vw;
} */
.external {
  text-decoration: none;
  display: inline-block;
}
.externalTitle {
  font-size: 10vw;
  letter-spacing: 1vw;
}

@media only screen and (max-width: 500px) {
  .scroll {
    font-size: 12.5vw;
  }
}
