.container {
  background-color: steelblue;
}

.infoBox {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image {
  width: 50%;
  max-width: 500px;
  border-radius: 100%;
  margin: 0 1em;
  transition: box-shadow 2s;
}

.image:hover {
  box-shadow: 15vw 0 black;
}
