.container {
    background-color: steelblue;
    /* text-align: left; */
}

.infoBox {
    /* border: solid; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image {
    width: 50%;
    max-width: 500px;
    border-radius: 100%;
    margin: 0 1em;
    /* box-shadow: 20vw 0 gainsboro; */
    transition: box-shadow 2s;
}

.image:hover {
    box-shadow: 20vw 0 black;
    /* box-shadow: none; */
}