.container {
  background-image: url(../img/foot.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.copyright {
  cursor: default;
  margin: 0;
  font-size: 20vw;
  border-radius: 50%;
}

@media only screen and (max-width: 925px) {
  .copyright {
    font-size: 35vw;
  }
}