.container {
  background-color: thistle;
  color: whitesmoke;
}

.container h3 {
  /* width: 10%; */
  display: inline-block;
}

.date {
  font-size: 1.75vw;
  color: steelblue;
}

.link:hover {
  text-shadow: 0.75vw 0.75vw crimson;
}
